<div class="modal-header">
    <h4 class="modal-title">Info - RTI Date Calculator</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <ngb-tabset #infoTabset>

        <ngb-tab id="info-sponsor-tab">

            <ng-template ngbTabTitle> <b> Sponsors </b> </ng-template>

            <ng-template ngbTabContent>

                <div class="container-fluid">

                    <!--
                    <div class="row" style="background-color:lavender;margin-bottom: 10px;">
                        <div class="col-sm-2 col-3">
                            <img class="img-responsive float-right" src="http://lorempixel.com/g/50/50/" alt="ccs_logo" />
                        </div>
                        <div class="col-sm-4 col-9">
                            <p style="margin-bottom: 0px">
                            {{ "INFO.I01" | translate }}
                            </p>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                        </div>

                        <div class="col-sm-2 col-3"> 
                            <img class="img-responsive float-right" src="http://lorempixel.com/g/50/50/" alt="ccs_logo" />
                        </div>
                        <div class="col-sm-4 col-9">
                            <p style="margin-bottom: 0px">
                            {{ "INFO.I02" | translate }}
                            </p>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                        </div>
                    </div>
                    -->

                </div>

            </ng-template>
        </ngb-tab>

        <ngb-tab id="info-about-tab">
            <ng-template ngbTabTitle><b>About</b> </ng-template>

            <ng-template ngbTabContent>


                <div class="container-fluid">

                    <!--
                    <div class="row" style="background-color:lavender;margin-bottom: 10px;">
                        <div class="col-sm-2 col-3">
                            <img class="img-responsive float-right" src="http://lorempixel.com/g/50/50/" alt="ccs_logo" />
                        </div>
                        <div class="col-sm-4 col-9">
                            <p style="margin-bottom: 0px">
                            {{ "INFO.I03" | translate }}
                            </p>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                        </div>

                        <div class="col-sm-2 col-3"> 
                            <img class="img-responsive float-right" src="http://lorempixel.com/g/50/50/" alt="ccs_logo" />
                        </div>
                        <div class="col-sm-4 col-9">
                            <p style="margin-bottom: 0px">
                            {{ "INFO.I04" | translate }}
                            </p>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                            <button type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook left"></i> F</button>
                        </div>
                    </div>
                -->

                    <div class="row" style="">
                        Powered by <a href="http://gethugames.in/" target="_blank">Team Grassroots @ Gethu Games </a>
                    </div>
                </div>



            </ng-template>
        </ngb-tab>

        <ngb-tab id="info-info-tab">

            <ng-template ngbTabTitle> <b> Info </b> </ng-template>

            <ng-template ngbTabContent>

                <div class="container-fluid">

                    <br/>
                
                    <h2>
                        License
                    </h2>

                    <ul>
                        <li>This Webapp is released under open source, MIT License </li>
                        <li>Project source <a href="https://gitlab.com/RTI-Hub/P1-RTI-Date-Calculator-Web"> here </a> </li>
                    </ul>

                    <pre>
Copyright 2016-present Gethu Games Private Limited
http://gethugames.in/

MIT License

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                </pre>

                </div>

            </ng-template>
        </ngb-tab>

        <ngb-tab id="info-contact-tab">
            <ng-template ngbTabTitle><b>Contact</b> </ng-template>

            <ng-template ngbTabContent>

                <form style="padding-top:10px;">
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">{{ "CONTACT.I01" | translate }}</label>
                        <div class="col-10">
                            <input class="form-control" type="email" [(ngModel)]="emailUser" [ngModelOptions]="{standalone: true}" placeholder="your@mail.com" id="example-email-input">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Message">{{ "CONTACT.I02" | translate }}</label>
                        <textarea class="form-control" id="Message" [(ngModel)]="feedback" [ngModelOptions]="{standalone: true}" rows="8"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-sm-10  input-group">
                            <button type="submit" (click)="submitFeedback()" class="btn btn-danger pull-right">Submit</button>
                        </div>
                    </div>
                </form>

            </ng-template>
        </ngb-tab>

    </ngb-tabset>
</div>

<div class="modal-footer">
    <!--
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    -->
</div>
