<nav class="navbar navbar-inverse bg-inverse sticky-top">
    <a class="navbar-brand" href="#">

        <h2 style="display: inline;">
            {{ "MAIN.TITLE" | translate }}
        </h2>

        <button 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right hidden-md-up" 
            (click)="toggleShowMiniMenu()" 
            data-target="#navbarSupportedContent" 
            data-toggle="collapse" 
            type="button" >

            <span class="navbar-toggler-icon">
            </span>
        </button>

        <div id="navbarSupportedContent" *ngIf="showMiniMenu" style="margin-top:20px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div [(ngModel)]="selectedLanguage" (change)="languageChanged()" ngbRadioGroup name="radioBasicS">
                        <label class="btn btn-primary">
                            <input type="radio" value="en"> English
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" value="ta"> தமிழ்
                        </label>

                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="openInfoPopup()" href="#">
                        <i class="fa fa-info"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="openSharePopup()" href="#">
                        <i class="fa fa-share-alt"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="hidden-sm-down" style="display:inline">
            <button type="button" class="btn btn-primary float-right" (click)="openSharePopup()" style="margin-right: 20px;">
                <i class="fa fa-share-alt"></i>
            </button>

            <button type="button" class="btn btn-primary float-right" (click)="openInfoPopup()" style="margin-right: 20px;">
                <i class="fa fa-info"></i>
            </button>
            <div [(ngModel)]="selectedLanguage" (change)="languageChanged()" ngbRadioGroup name="radioBasicB" class="float-right" style="margin-right: 20px;">

                <label class="btn btn-primary">
                    <input type="radio" value="en"> English
                </label>

                <label class="btn btn-primary">
                    <input type="radio" value="ta"> தமிழ்
                </label>

            </div>
        </div>

    </a>
</nav>

<div class="container">
    <form class="form-horizontal" #f="ngForm" novalidate style="padding-top:20px;">

        <div class="form-group row" style="margin: 0px">
            <div class="col-12 footer-control">
                {{ "SECTION.S00_TITLE" | translate }} 
                <span *ngIf="dateService.rtiFlow.rtiDate">
                    <b> {{ dateService.ngbDateToMomentDate(dateService.rtiFlow.rtiDate).format('ll') }} </b>
                </span>
                &nbsp; 
                <a *ngIf="!toggleBasicSection" (click)="toggleBasicSection = !toggleBasicSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a *ngIf="toggleBasicSection" (click)="toggleBasicSection = !toggleBasicSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>

        <!-- BEGIN: S00: Basic controls -->
        <div class="sub-section" *ngIf="shouldShowBasicHeader()" [@showHide]="shouldShowBasicHeader()"> 

            <!-- BEGIN: C01: When the RTI is filed?-->
            <div class="form-group row">
                <label for="C01-when-rti-filed" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C01.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" placeholder="dd-mm-yyyy"
                                                                 name="C01-when-rti-filed" [(ngModel)]="dateService.rtiFlow.rtiDate" ngbDatepicker #C01="ngbDatepicker" (ngModelChange)="dateService.setReceiptDateForC01RTIPetition(); dateService.calculateDateFlow()"/>

                    <div class="input-group-addon user-date-fields" (click)="C01.toggle(); openDatePicker(C01)" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" (click)="showDetailedHelp('C01')" placement="left" ngbTooltip="{{ 'C01.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C01: When the RTI is filed?-->

            <!-- BEGIN: C02: When the RTI was received by the PIO?-->
            <div class="form-group row">
                <label for="C02-rti-received-by-PIO" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C02.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.rtiDate" placeholder="dd-mm-yyyy" [disabled]="dateService.rtiFlow.rtiDate == null"
                                                                                                         name="C02-rti-received-by-PIO" [(ngModel)]="dateService.rtiFlow.rtiReceptionDate" ngbDatepicker #C02="ngbDatepicker" (ngModelChange)="dateService.calculateDateFlow()"/>
                    <div class="input-group-addon user-date-fields" (click)="C02.toggle(); openDatePicker(C02);" [hidden]="dateService.rtiFlow.rtiDate == null" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C02')" placement="left" ngbTooltip="{{ 'C02.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C02: When the RTI was received by the PIO?-->

            <!-- BEGIN: C03: Is the RTI files under Life and Liberty cause? -->
            <div class="form-group row">
                <label for="C03-life-and-liberty" class="col-md-8 col-lg-9 col-form-label text-md-right"> {{ "C03.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" name="C03-life-and-liberty" [(ngModel)]="dateService.rtiFlow.isLifeAndLiberty" [value]="option.value" (ngModelChange)="dateService.calculateDateFlow(); dateService.toggleLifeAndLiberty();">
                            {{option.display | translate}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline float-right" aria-label="Left Align" (click)="showDetailedHelp('C03')" placement="left" ngbTooltip="{{ 'C03.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C03: Is the RTI files under Life and Liberty cause? -->

            <!-- BEGIN: C04: Is the RTI Transferred?-->
            <div class="form-group row">
                <label for="C04-is-rti-transferred" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C04.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" name="C04-is-rti-transferred" [(ngModel)]="dateService.rtiFlow.isTransferred" [value]="option.value" (change)="dateService.rtiTransferRadioChange(0, option.value)">
                            {{option.display | translate}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-default float-right" aria-label="Help" (click)="showDetailedHelp('C04')" placement="left" ngbTooltip="{{ 'C04.tooltip' | translate }}" container="body">
                        ?
                        <!--
                            <i class="fa fa-question" aria-hidden="true"></i>
                        -->
                    </button>
                </div>
            </div>
            <!-- END: C04: Is the RTI Transferred?-->

            <!-- BEGIN: C05: any additional RTI Fee requested?-->
            <div class="form-group row">
                <label for="C05-is-additional-fee" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C05.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" name="C05-is-additional-fee" [(ngModel)]="dateService.rtiFlow.isAdditionalFeeRequested" [value]="option.value" (ngModelChange)="dateService.toggleFeeRequest();">
                            {{option.display | translate}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C05')" placement="left" ngbTooltip="{{ 'C05.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C05: Is any additional RTI Fee requested?-->

            <!-- BEGIN: C06: Were you informed that views of third party have been sought?-->
            <div class="form-group row">
                <label for="C06-informed-of-3rd-party" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C06.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" name="C06-informed-of-3rd-party" [(ngModel)]="dateService.rtiFlow.isInformedAboutThirdParty" [value]="option.value" (ngModelChange)="dateService.calculateDateFlow(); dateService.toggle3rdParty();">
                            {{option.display | translate}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C06')" placement="left" ngbTooltip="{{ 'C06.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C06: Were you informed that views of third party have been sought?-->

        </div> 
        <!-- END: S00: Basic controls -->

        <!-- BEGIN: TS01: RTI Transfer section -->
        <div *ngFor="let transfer of dateService.rtiFlow.rtiTransfer; let i = index;" [@enterExit]="transfer"> 

            <div class="form-group row" style="margin: 0px">
                <div class="col-12 footer-control">
                    {{ "SECTION.TS_TITLE" | translate }} {{ i+1 }}
                    <span *ngIf="transfer.dateOfRTITransfer">
                        <b> - {{ dateService.ngbDateToMomentDate(transfer.dateOfRTITransfer).format('ll') }} </b>
                    </span>
                    &nbsp; 
                    <a *ngIf="!toggleTransferSection[i]" (click)="toggleTransferSection[i] = !toggleTransferSection[i]" href="#" style="font-size: 18px">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a *ngIf="toggleTransferSection[i]" (click)="toggleTransferSection[i] = !toggleTransferSection[i]" href="#" style="font-size: 18px">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
            </div>

            <div class="sub-section" *ngIf="shouldShowTransferHeader(i)" [@showHide]="shouldShowTransferHeader(i)">

                <div class="form-group row" style="margin: 0px">
                    <div class="col-12 bg-info">
                    </div>
                </div>

                <!-- BEGIN: T01: Starting Date for RTI transfer-->
                <!--
                <div class="form-group row">
                    <label for="T01-Starting-rti-transfer-date-{{transfer.index}}" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "T01.label" | translate }}
                    </label>

                    <div class="col-md-4 col-lg-3 input-group">
                        <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                    name="T01-Starting-rti-transfer-date-{{transfer.index}}" [(ngModel)]="transfer.startingDateForRTITransfer" ngbDatepicker #T01="ngbDatepicker">
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('T01')" placement="left" ngbTooltip="{{ 'T01.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                        </button>
                    </div>
                </div>
                -->
                <!-- END: T01: Starting Date for RTI transfer-->

                <!-- BEGIN: T02: Last Date for RTI transfer-->
                <!--
                <div class="form-group row">
                    <label for="T02-last-rti-transfer-date-{{transfer.index}}" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "T02.label" | translate }}
                    </label>
                    <div class="col-md-4 col-lg-3 input-group">
                        <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                    name="T02-last-rti-transfer-date-{{transfer.index}}" [(ngModel)]="transfer.lastDateForRTITransfer" ngbDatepicker #T02="ngbDatepicker">
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('T02')" placement="left" ngbTooltip="{{ 'T02.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                        </button>
                    </div>
                </div>
                -->
                <!-- END: T02: Last Date for RTI transfer-->

                <!-- BEGIN: T03: Did you know when the RTI was transferred?-->
                <div class="form-group row">
                    <label for="T03-when-rti-transfered-{{transfer.index}}" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "T03.label" | translate }}
                    </label>
                    <div class="col-md-4 col-lg-3 input-group">
                        <input class="form-control user-date-fields" [minDate]="transfer.startingDateForRTITransfer" placeholder="dd-mm-yyyy"
                                                                                                                     name="T03-when-rti-transfered-{{transfer.index}}" [(ngModel)]="transfer.dateOfRTITransfer" ngbDatepicker #T03="ngbDatepicker" (ngModelChange)="dateService.setReceiptDateForT04TransferOrder(transfer.index - 1); dateService.calculateDateFlow()">
                        <div class="input-group-addon user-date-fields" (click)="T03.toggle(); openDatePicker(T03);" >
                            <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </div>
                            <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('T03')" placement="left" ngbTooltip="{{ 'T03.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                            </button>
                    </div>
                </div>
                <!-- END: T03: Did you know when the RTI was transferred?-->

                <!-- BEGIN: T04: Did you know when the RTI transfer was received by the other PIO?-->
                <div class="form-group row">
                    <label for="T04-when-rti-received-by-other-pio-{{transfer.index}}" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "T04.label" | translate }}
                    </label>
                    <div class="col-md-4 col-lg-3 input-group">
                        <input class="form-control user-date-fields" [minDate]="transfer.dateOfRTITransfer" placeholder="dd-mm-yyyy" [disabled]="transfer.dateOfRTITransfer == null"
                                                                                                            name="T04-when-rti-received-by-other-pio-{{transfer.index}}" [(ngModel)]="transfer.dateOfReceiptOfRTITransfer" ngbDatepicker #T04="ngbDatepicker" (ngModelChange)="dateService.calculateDateFlow()">
                        <div class="input-group-addon user-date-fields" (click)="T04.toggle(); openDatePicker(T04);" [hidden]="transfer.dateOfRTITransfer == null">
                            <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('T04')" placement="left" ngbTooltip="{{ 'T04.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                        </button>
                    </div>
                </div>
                <!-- END: T04: Did you know when the RTI transfer was received by the other PIO?-->

                <!-- BEGIN: T05: Is the RTI Transferred again?-->
                <div class="form-group row" *ngIf="transfer.index < 3">
                    <label for="T05-is-rti-transferred-again-{{transfer.index}}" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "T05.label" | translate }} 
                    </label>
                    <div class="col-md-4 col-lg-3">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" *ngFor="let option of options">
                                <input class="form-check-input" type="radio" name="T05-is-rti-transferred-again-{{transfer.index}}" [(ngModel)]="transfer.isTransferredAgain" [value]="option.value" (change)="dateService.rtiTransferRadioChange(transfer.index, option.value)">
                                {{option.display | translate}}
                            </label>
                        </div>
                        <button type="button" class="btn btn-outline float-right" aria-label="Left Align" (click)="showDetailedHelp('T05')" placement="left" ngbTooltip="{{ 'T05.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                        </button>
                    </div>
                </div>
                <!-- END: T05: Is the RTI Transferred again?-->

            </div>

        </div>
        <!-- END: TS01: RTI Transfer section -->


        <div [@enterExit]="dateService.rtiFlow.isAdditionalFeeRequested" *ngIf="dateService.rtiFlow.isAdditionalFeeRequested"> 

        <div class="form-group row" style="margin: 0px; cursor: pointer; border-bottom: solid 1px #ccc">
            <div class="col-12 footer-control">
                {{ "SECTION.S01_TITLE" | translate }}
                <span *ngIf="dateService.rtiFlow.feeRequestDate">
                    - <b> {{ dateService.ngbDateToMomentDate(dateService.rtiFlow.feeRequestDate).format('ll') }} </b>
                </span>
                &nbsp; 
                <a *ngIf="!toggleFeeRequestSection" (click)="toggleFeeRequestSection = !toggleFeeRequestSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a *ngIf="toggleFeeRequestSection" (click)="toggleFeeRequestSection = !toggleFeeRequestSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>

        <!-- BEGIN: S01: Fee Request -->
        <div class="sub-section" *ngIf="shouldShowFeeRequestHeader()" [@showHide]="shouldShowFeeRequestHeader()">

            <div class="form-group row" style="margin: 0px">
                <div class="col-12 bg-info">
                    
                </div>
            </div>

            <!-- BEGIN: C20: When the fee was requested?-->
            <div class="form-group row">
                <label for="C20-when-rti-fee-requested" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C20.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.minDateForFeeRequest()" placeholder="dd-mm-yyyy"
                                                                                                                name="C20-when-rti-fee-requested" [(ngModel)]="dateService.rtiFlow.feeRequestDate" ngbDatepicker #C20="ngbDatepicker" (ngModelChange)="dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C20.toggle(); openDatePicker(C20);" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C20')" placement="left" ngbTooltip="{{ 'C20.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C20: When the fee was requested?-->

            <!-- BEGIN: C21: When you notified the PIO of your Fee Payment-->
            <div class="form-group row">
                <label for="C21-when-pio-notiified-payment" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C21.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.feeRequestDate" placeholder="dd-mm-yyyy" [disabled]="dateService.rtiFlow.feeRequestDate == null"
                                                                                                                name="C21-when-pio-notiified-payment" [(ngModel)]="dateService.rtiFlow.feePaymentNotifyDate" ngbDatepicker #C21="ngbDatepicker" (ngModelChange)="dateService.setReceiptDateForC22FeePayment(); dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C21.toggle(); openDatePicker(C21);" [hidden]="dateService.rtiFlow.feeRequestDate == null">
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C21')" placement="left" ngbTooltip="{{ 'C21.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C21: When you notified the PIO of your Fee Payment-->

            <!-- BEGIN: C22: Did you know the Date of receipt of Fee Payment  by PIO-->
            <div class="form-group row">
                <label for="C22-date-receipt-fee-receipt-by-pio" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C22.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.feePaymentNotifyDate" placeholder="dd-mm-yyyy" [disabled]="dateService.rtiFlow.feePaymentNotifyDate == null"
                                                                                                                      name="C22-date-receipt-fee-receipt-by-pio" [(ngModel)]="dateService.rtiFlow.feePaymentNotifyReceiptDate" ngbDatepicker #C22="ngbDatepicker" (ngModelChange)="dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C22.toggle(); openDatePicker(C22);" [hidden]="dateService.rtiFlow.feePaymentNotifyDate == null" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C22')" placement="left" ngbTooltip="{{ 'C22.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C22: Did you know the Date of receipt of Fee Payment  by PIO-->

        </div>
        <!-- END: S01: Fee Request -->
        </div>

        <div *ngIf="dateService.rtiFlow.rtiReceptionDate" [@enterExit]="dateService.rtiFlow.rtiReceptionDate">

        <div class="form-group row" style="margin: 0px">
            <div class="col-12 footer-control">
                {{ "SECTION.S02_TITLE" | translate }} 
                <span *ngIf="dateService.rtiFlow.lastDateForRTIResponse">
                    - <b> {{ dateService.ngbDateToMomentDate(dateService.rtiFlow.lastDateForRTIResponse).format('ll') }} </b>
                </span>
                &nbsp; 
                <a *ngIf="!toggleRTIResponseSection" (click)="toggleRTIResponseSection = !toggleRTIResponseSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a *ngIf="toggleRTIResponseSection" (click)="toggleRTIResponseSection = !toggleRTIResponseSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>

        <!-- BEGIN: S02: RTI Response -->
        <div class="sub-section" *ngIf="shouldShowRTIResponseHeader()" [@showHide]="shouldShowRTIResponseHeader()">

            <!-- BEGIN: C30: Last Date to send RTI Response-->
            <div class="form-group row">
                <label for="C30-last-date-send-rti-response" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C30.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                name="C30-last-date-send-rti-response" [(ngModel)]="dateService.rtiFlow.lastDateForRTIResponse" ngbDatepicker #C30="ngbDatepicker">
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C30')" placement="left" ngbTooltip="{{ 'C30.tooltip' | translate }}" popoverTitle="Customized popover" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C30: Last Date to send RTI Response-->

            <!-- BEGIN: C31: Did you receive Response from PIO-->
            <div class="form-group row">
                <label for="C31-receive-response-from-pio" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C31.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" name="C31-receive-response-from-pio" [(ngModel)]="dateService.rtiFlow.isRTIResponseReceived" [value]="option.value" (ngModelChange)="dateService.toggleResponseFromPIO()">
                            {{option.display | translate}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline float-right" aria-label="Left Align" (click)="showDetailedHelp('C31')" placement="left" ngbTooltip="{{ 'C31.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C31: Did you receive Response from PIO-->

            <!-- BEGIN: C32: Did you know when the Response was made by PIO?-->
            <div class="form-group row" *ngIf="dateService.rtiFlow.isRTIResponseReceived">
                <label for="C32-when-Response-made-by-pio" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C32.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.minDateForResponseMadeByPIO()" placeholder="dd-mm-yyyy"
                                                                                                                       name="C32-when-Response-made-by-pio" [(ngModel)]="dateService.rtiFlow.dateOfRTIResponse" ngbDatepicker #C32="ngbDatepicker" (ngModelChange)="dateService.setReceiptDateForC33RTIResponse(); dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C32.toggle(); openDatePicker(C32);" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C32')" placement="left" ngbTooltip="{{ 'C32.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C32: Did you know when the Response was made by PIO?-->

            <!-- BEGIN: C33: What is the date of Receipt of Response?-->
            <div class="form-group row" *ngIf="dateService.rtiFlow.isRTIResponseReceived">
                <label for="C33-date-of-Receipt-of-Response" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C33.label" | translate }} 
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.dateOfRTIResponse" placeholder="dd-mm-yyyy" [disabled]="dateService.rtiFlow.dateOfRTIResponse == null"
                                                                                                                   name="C33-date-of-Receipt-of-Response" [(ngModel)]="dateService.rtiFlow.dateOfReceiptOfRTIResponse" ngbDatepicker #C33="ngbDatepicker" (ngModelChange)="dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C33.toggle(); openDatePicker(C33);" [hidden]="dateService.rtiFlow.dateOfRTIResponse == null" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C33')" placement="left" ngbTooltip="{{ 'C33.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C33: What is the date of Receipt of Response?-->

        </div>
        <!-- END: S02: RTI Response -->
        </div>

        <!-- BEGIN: S03: First Appeal -->
        <div *ngIf="dateService.rtiFlow.isRTIResponseReceived !== undefined" [@enterExit]="dateService.rtiFlow.isRTIResponseReceived">

        <div class="form-group row"  style="margin: 0px">
            <div class="col-12 footer-control">
                {{ "SECTION.S03_TITLE" | translate }} 
                <span *ngIf="dateService.rtiFlow.dateOfFirstAppeal">
                - <b>{{ dateService.ngbDateToMomentDate(dateService.rtiFlow.dateOfFirstAppeal).format('ll') }}</b>
                </span>
                &nbsp; 
                <a *ngIf="!toggleFirstAppealSection" (click)="toggleFirstAppealSection = !toggleFirstAppealSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a *ngIf="toggleFirstAppealSection" (click)="toggleFirstAppealSection = !toggleFirstAppealSection" href="#" style="font-size: 18px">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>

        <div class="sub-section" *ngIf="shouldShowFirstAppealHeader()" [@showHide]="shouldShowFirstAppealHeader()">

            <!-- BEGIN: C40: Starting Date to file First Appeal-->
            <div class="form-group row">
                <label for="C40-starting-date-to-file-first-appeal" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C40.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                name="C40-starting-date-to-file-first-appeal" [(ngModel)]="dateService.rtiFlow.startingDateForFirstAppeal" ngbDatepicker #C40="ngbDatepicker">
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C40')" placement="left" ngbTooltip="{{ 'C40.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C40: Starting Date to file First Appeal-->

            <!-- BEGIN: C41: Last Date to file First Appeal-->
            <div class="form-group row">
                <label for="C41-last-date-to-file-first-appeal" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C41.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                name="C41-last-date-to-file-first-appeal" [(ngModel)]="dateService.rtiFlow.lastDateForFirstAppeal" ngbDatepicker #C41="ngbDatepicker">
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C41')" placement="left" ngbTooltip="{{ 'C41.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C41: Last Date to file First Appeal-->

            <!-- BEGIN: C42: When you filed the First Appeal?-->
            <div class="form-group row">
                <label for="C42-when-filed-first-appeal" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C42.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.startingDateForFirstAppeal" placeholder="dd-mm-yyyy"
                                                                                                                            name="C42-when-filed-first-appeal" [(ngModel)]="dateService.rtiFlow.dateOfFirstAppeal" ngbDatepicker #C42="ngbDatepicker" (ngModelChange)="dateService.setReceiptDateForC43FirstAppeal(); dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C42.toggle(); openDatePicker(C42);" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C42')" placement="left" ngbTooltip="{{ 'C42.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C42: When you filed the First Appeal?-->

            <!-- BEGIN: C43: When the Appeal was received by the FAA?-->
            <div class="form-group row">
                <label for="C43-when-appeal-received-by-faa" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C43.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.dateOfFirstAppeal" placeholder="dd-mm-yyyy" [disabled]="dateService.rtiFlow.dateOfFirstAppeal == null"
                                                                                                                   name="C43-when-appeal-received-by-faa" [(ngModel)]="dateService.rtiFlow.dateOfReceiptOfFirstAppeal" ngbDatepicker #C43="ngbDatepicker" (ngModelChange)="dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C43.toggle(); openDatePicker(C43);" [hidden]="dateService.rtiFlow.dateOfFirstAppeal == null" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C43')" placement="left" ngbTooltip="{{ 'C43.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C43: When the Appeal was received by the  FAA?-->

        </div>
        <!-- END: S03: First Appeal -->
        </div>

        <!-- BEGIN: S04: First Appeal Response -->
        <div class="sub-section" *ngIf="dateService.rtiFlow.dateOfReceiptOfFirstAppeal" [@enterExit]="dateService.rtiFlow.dateOfReceiptOfFirstAppeal">

            <div class="form-group row" style="margin: 0px">
                <div class="col-12 footer-control">
                    {{ "SECTION.S04_TITLE" | translate }}
                    <span *ngIf="dateService.rtiFlow.lastDateForFAResponse">
                        - <b> {{ dateService.ngbDateToMomentDate(dateService.rtiFlow.lastDateForFAResponse).format('ll') }} </b>
                    </span>
                </div>
            </div>

            <!-- BEGIN: C50: Did FAA inform that he will need additional time?-->
            <div class="form-group row">
                <label for="C50-Did-FAA-inform-will-need-additional-time" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C50.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" name="C50-Did-FAA-inform-will-need-additional-time" [(ngModel)]="dateService.rtiFlow.isFAAAdditionalTime" [value]="option.value" (ngModelChange)="dateService.calculateDateFlow(); dateService.toggle45DaysExtension();">
                            {{option.display | translate}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline float-right" aria-label="Left Align" (click)="showDetailedHelp('C50')" placement="left" ngbTooltip="{{ 'C50.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- BEGIN: C50: Did FAA inform that he will need additional time?-->

            <!-- BEGIN: C51: Last date to send Appeal response-->
            <div class="form-group row">
                <label for="C51-last-date-to-Appeal-response" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C51.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                name="C51-last-date-to-Appeal-response" [(ngModel)]="dateService.rtiFlow.lastDateForFAResponse" ngbDatepicker #C51="ngbDatepicker">
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C51')" placement="left" ngbTooltip="{{ 'C51.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C51: Last date to send Appeal response-->

            <!-- BEGIN: C52: Did you receive Response from FAA-->
            <div class="form-group row">
                <label for="C52-received-response-from-FAA" class="col-md-8 col-lg-9 col-form-label text-md-right">{{ "C52.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" name="C52-received-response-from-FAA" [(ngModel)]="dateService.rtiFlow.isFAResponseReceived" [value]="option.value" (ngModelChange)="dateService.calculateDateFlow()">
                            {{option.display | translate}}
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline float-right" aria-label="Left Align" (click)="showDetailedHelp('C52')" placement="left" ngbTooltip="{{ 'C52.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C52: Did you receive Response from FAA-->

            <!-- BEGIN: C53: Did you know when the Response was made by FAA?-->
            <div class="form-group row" *ngIf="dateService.rtiFlow.isFAResponseReceived">
                <label for="C53-when-Response-made-by-FAA" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C53.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.dateOfReceiptOfFirstAppeal" placeholder="dd-mm-yyyy"
                                                                                                                            name="C53-when-Response-made-by-FAA" [(ngModel)]="dateService.rtiFlow.dateOfFAResponse" ngbDatepicker #C53="ngbDatepicker" (ngModelChange)="dateService.setReceiptDateForC54AppealResponse(); dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C53.toggle(); openDatePicker(C53);" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C53')" placement="left" ngbTooltip="{{ 'C53.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- END: C53: Did you know when the Response was made by FAA?-->

            <!-- BEGIN: C54: What is the Date of receipt of FAA Response?-->
            <div class="form-group row" *ngIf="dateService.rtiFlow.isFAResponseReceived">
                <label for="C54-date-of-receipt-of-FAA-response" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C54.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control user-date-fields" [minDate]="dateService.rtiFlow.dateOfFAResponse" placeholder="dd-mm-yyyy" [disabled]="dateService.rtiFlow.dateOfFAResponse == null"
                                                                                                                  name="C54-date-of-receipt-of-FAA-response" [(ngModel)]="dateService.rtiFlow.dateOfReceiptOfFAResponse" ngbDatepicker #C54="ngbDatepicker" (ngModelChange)="dateService.calculateDateFlow()">
                    <div class="input-group-addon user-date-fields" (click)="C54.toggle(); openDatePicker(C54);" [hidden]="dateService.rtiFlow.dateOfFAResponse == null" >
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                        <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C54')" placement="left" ngbTooltip="{{ 'C54.tooltip' | translate }}" container="body">?
                        </button>
                </div>
            </div>
            <!-- BEGIN: C54: What is the Date of receipt of FAA Response?-->

        </div>
        <!-- END: S04: First Appeal Response -->

        <!--
            <div class="form-group row" *ngIf="dateService.rtiFlow.dateOfReceiptOfFirstAppeal" style="margin: 0px">
            <div class="col-12 footer-control">
            First Appeal response to be received on {{ dateService.ngbDateToMomentDate(dateService.rtiFlow.lastDateForFAResponse).format('ll') }}
            </div>
            </div>
        -->

        <!-- BEGIN: S05: Second Appeal -->
        <div class="sub-section" *ngIf="dateService.rtiFlow.isFAResponseReceived !== undefined" [@enterExit]="dateService.rtiFlow.isFAResponseReceived">
            <div class="form-group row" style="margin: 0px">
                <div class="col-12 footer-control">
                    {{ "SECTION.S05_TITLE" | translate }}
                    <span *ngIf="dateService.rtiFlow.lastDateForSecondAppeal">
                        - <b> {{ dateService.ngbDateToMomentDate(dateService.rtiFlow.lastDateForSecondAppeal).format('ll') }} </b>
                    </span>
                </div>
            </div>

            <!-- BEGIN: C60: Starting Date to file Second Appeal-->
            <div class="form-group row">
                <label for="C60-starting-date-to-file-second-appeal" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C60.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                name="C60-starting-date-to-file-second-appeal" [(ngModel)]="dateService.rtiFlow.startingDateForSecondAppeal" ngbDatepicker #C60="ngbDatepicker">
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C60')" placement="left" ngbTooltip="{{ 'C60.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C60: Starting Date to file Second Appeal-->

            <!-- BEGIN: C61: Last Date to file Second Appeal-->
            <div class="form-group row">
                <label for="C61-last-date-to-file-second-appeal" class="col-sm-8 col-lg-9 col-form-label text-md-right">{{ "C61.label" | translate }}
                </label>
                <div class="col-md-4 col-lg-3 input-group">
                    <input class="form-control calculated-date-fields" placeholder="dd-mm-yyyy" disabled="true"
                                                                                                name="C61-last-date-to-file-second-appeal" [(ngModel)]="dateService.rtiFlow.lastDateForSecondAppeal" ngbDatepicker #C61="ngbDatepicker">
                    <button type="button" class="btn btn-default float-right" aria-label="Left Align" (click)="showDetailedHelp('C61')" placement="left" ngbTooltip="{{ 'C61.tooltip' | translate }}" container="body">?
                    </button>
                </div>
            </div>
            <!-- END: C61: Last Date to file Second Appeal-->

        </div>
        <!-- END: S05: Second Appeal -->

        <!--
            <div class="form-group row" *ngIf="dateService.rtiFlow.isFAResponseReceived !== undefined" style="margin: 0px">
            <div class="col-12 footer-control">
            Last date for Second Appeal {{ dateService.ngbDateToMomentDate(dateService.rtiFlow.lastDateForSecondAppeal).format('ll') }}
            </div>
            </div>
        -->

        <!-- Buffer space -->
        <div class="sub-section" style="margin-bottom: 100px;">
        </div>

    </form>

</div>

<footer class="footer bottom-stick">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button type="button" (click)="openFeedbackPopup()" class="btn btn-md btn-danger float-right"> {{ "MISC.S_FEEDBACK" | translate }} </button>
            </div>
        </div>
    </div>
</footer>
