.form-group {
    margin-bottom               :   0.25rem;
}
.form-check-label {
    margin-right 			    :	8px;
}

.sub-section {
    border                      :   solid 1px #ccc;
    border-bottom               :   solid 2px #ccc;

}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-question-sign:before {
    content                     :   "\e085";
}

.user-date-fields {
    background-color            :   #ddf;
    border                      :   2px solid #bbf;
}

.calculated-date-fields {
    background-color            :   #fdd;
    border                      :   2px solid #fbb;
}

.bottom-stick {
    position			:   fixed;
    bottom			:   0;
    z-index                     :   100;
    margin                      :   auto;
}

.footer-control {
    background                  :   #bde2ed;
    text-align                  :   right;
    padding                     :   8px;
}
