<div class="modal-header">
    <h4 class="modal-title">Share - RTI Date Calculator</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="form-group row">
        <div class="col">
            <share-buttons></share-buttons>
        </div>
    </div>

</div>

<div class="modal-footer">
    <!--
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    -->
</div>
