/* tamil */
@font-face {
  font-family: 'Meera Inimai';
  font-style: normal;
  font-weight: 400;
  src: local('Meera-Inimai-Regular.ttf'), local(''), format('ttf');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Meera Inimai';
  font-style: normal;
  font-weight: 400;
  src: local('Meera-Inimai-Regular.ttf'), local(''), format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
